/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.container {
    @apply mx-auto px-6
}

.text-primary{
    @apply text-blue-700
}

.snack-error{
    @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
    supporting-text-color: white
  ));
}

.snack-success{
    @include mat.snack-bar-overrides((
    button-color: white,
    container-color: green,
    supporting-text-color: white
  ));
}